button {
    width: 200px;
    height: 200px;
    font-size: 100px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 20px;
    display: inline-block;

}

span {
    width: 200px;
    height: 200px;
    font-size: 100px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 20px;
    display: inline-block;
}

.active {
    background-color: rebeccapurple;
}